<table style="width: 100%;" id="order{tag_counter">
    <tbody>
        <tr>
            <td style="width: 15%; background-color: #0e99d3; color: #ffffff;">{tag_invoicenumber}</td>
            <td style="width: 20%; background-color: #0e99d3; color: #ffffff;">{tag_invoicedate}</td>
            <td style="width: 15%; background-color: #0e99d3; color: #ffffff;">{tag_invoicetotal}</td>
            <td style="width: 40%; background-color: #0e99d3; color: #ffffff;">{tag_ordername}
            </td>
            <td style="width: 15%;">{tag_status}
            </td>
        </tr>
    </tbody>
</table>
