@charset "utf-8";
div#header{
	margin: 16px 0 14px;
}
div.see-all{
	margin:0px 4px 10px 14px;
	}
div#events-header{
	margin:0px 127px 10px 0px;
	}
div.section-2-info{
	width:32%;
	
}
div.section-4{
	width:65.53%
	}
