@charset "utf-8";
/* CSS Document */
/* Main Navigation
----------------------------------------------------------------------------------------------------*/
#container-nav{
	background: url(/_SiteDevelopment/Concepts/Website/v1/_assets/imgs/menubar.png) repeat-x 0 0; 
	width:100%;
	}
#nav {
	background:transparent;
	margin: 0 auto;
	overflow: hidden;
	width: 90%;
}
	#nav ul {
		margin:0;
		overflow:auto;
		padding: 0;
	}
	
		#nav ul li {
			background:url(/_assets/css/images/menu-divider.jpg) no-repeat right;
			display:inline;
			float:left;
			list-style:none;
			padding: 0;
			
		}
			#nav ul li.selected a:link,
			#nav ul li.selected a:visited,
			#nav ul li ul li.selected a:link,
			#nav ul li ul li.selected a:visited
			#nav ul li a:hover{
				background: #0093D0;
				color:#fff;
			}
			
			#nav ul li a:link,
			#nav ul li a:visited,
			#nav ul li ul li a:link,
			#nav ul li ul li a:visited{
				color: #0093D0;
				display: block;
				font-size: 13px;
				padding: 10px;
				text-decoration: none;
				font-family:"ff-basic-gothic-web-pro", sans serif;
				text-transform: uppercase;
				font-weight:bold;
			}
			
			#nav ul li a:hover,
			#nav ul li a:active,
			#nav ul li ul li a:hover,
			#nav ul li ul li a:active
			#nav ul li.selected a:link;
			#nav ul li.selected a:visited;
			{
				color: #0061A4;
			}
#nav ul li ul{
	background:#ccc;
	left: -999em;
	position: absolute;
	/*width: 10em;*/
	z-index:333;
}
#nav ul li:hover ul,
#nav li.sfhover ul {
	left: auto;
}
#nav ul li ul li{
	border-top:1px solid #ddd;
	display:block;
	float:none;
}
	#nav ul li.selected ul li a:link,
	#nav ul li.selected ul li a:visited{
		background:none;
	}
	#nav ul li.selected ul li a:active,
	#nav ul li.selected ul li a:hover{
		background:#0083ba;
		color: #f9f9f9;
	}
	#nav ul li ul li.selected a:link,
	#nav ul li ul li.selected a:visited{
		background: #0083ba;
		color:#f9f9f9;
	}
	#nav ul li ul li a:link,
	#nav ul li ul li a:visited{
		color: #0083ba;
		display: block;
		font-size: 13px;
		padding: 5px 10px;
		text-decoration: none;
	}
	#nav ul li ul li a:hover,
	#nav ul li ul li a:active{
		background:#0083ba;
		color: #f9f9f9;
	}
	
 	#home-icon {
	display: block;
	clear: left;
	float: left;
	height:52px;
	width:62px;
}	
#nav ul li#nav-home a{
	height: 32px;
	width:52px;
	}

