@charset "utf-8";

div#h3 {
	font-size:1.12em; /*18px;*/
}
div#main{
		width:86%;
		margin:22px 3px 20px 1px;
}
div#header{
	margin:16px 0 8px;
}
div.logo{
	width:52.306%;
	margin: 0 0 0 5px;
	}
div#search{
	display:none;
	}
div.diversify{
	max-width:99%;
	}
div#utility-nav, #member-nav {
	display:none;
}
div#nav ul li a:link, #nav ul li a:visited, #nav ul li ul li a:link, #nav ul li ul li a:visited {
	font-size:8px; /*0.723em; 12px;*/
    /*font-weight: 300;*/
    letter-spacing: 0.08em;
    padding: 15px 0px 14px 7px;
    text-transform: uppercase;